.btn-type-primary {
  border: 1px solid #2d2d22;
  display: inline-flex;
  padding: 0;
  border-radius: 7px;
  cursor: pointer;
}

.btn-type-primary > span {
  background: #feac00;
  color: #fff;
  padding: 7px 25px;
  border-radius: 7px;
  font-size: 20px;
  line-height: 24px;
  -webkit-text-stroke: 1px #000;
  border-bottom: 6px solid #ce5705;
}

.btn-type-primary:hover > span {
  background: #e7a109;
  border-bottom: 6px solid #b9500a;
}

