.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 20px;
  width: calc(100% - 40px);
}

.logo, 
.main-menu {
  float: left;
}

.main-menu {
  margin-left: 30px
}

.logo, 
.main-menu,
.img-logo {
  height: 34px;
}
.main-menu .link {
  line-height: 39px;
  font-size: 20px;
  font-weight: 400;
}

.link {
  color: #2D2D2D;
  text-decoration: none;
  padding-right: 30px;
}

.link:last-child {
  padding-right: 0;
}

.main-menu .link:hover,
.main-menu .link.active {
  color: #FEAC00;
  font-weight: 600;
  -webkit-text-stroke: 1px #2D2D2D;
}
