.container {
  width: 100%;
}

.img-full {
  width: 100%;
  height: 100%;
}

/** Home page ********************************/
.home-banner {
  position: relative;
}

.above-text {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.text-banner1 {
  color: #E07703;
  line-height: 130px;
  font-size: 128px;
  margin: 0;
  -webkit-text-stroke: 7px #fff;
}

.text-banner2 {
  color: #296815;
  line-height: 100px;
  font-size: 96px;
  margin: 0;
  -webkit-text-stroke: 5px #fff;
}

.section-roadmap {
  object-fit: cover;
  background: url('./images/bg-roadmap.png');
}

.roadmap-heading {
  text-align: center;
  padding: 100px 0;
}

.roadmap-slide {
  max-width: 800px;
  width: 100%;
  display: block !important;
  margin: 0 auto;
}

.roadmap-item {
  float: left;
  text-align: center;
}

.roadmap-item h3 {
  min-height: 110px;
}

.roadmap-item ul {
  display: inline-block;
  margin: 0;
  padding: 0;
}

.roadmap-item img {
  display: inline-block !important;
}

.arrow-container {
  width: 170px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 100px 0;
}

.arrow-container img {
  cursor: pointer;
}

li.roadmap-sub-content {
  text-align: justify;
  font-size: 14px;
}

li.roadmap-sub-content.roadmap-sub-content-center {
  text-align: center;
  list-style: none;
}

/* Home Farming  */
.farming-slide {
  position: relative;
}

.farming-content {
  left: 10%;
  width: 30%;
  position: absolute;
  top: 50%;
  transform: translate(0px, -50%);
}

.arrow-container.arrow-container-farming {
  margin: 0;
  padding-top: 50px;
  padding-bottom: 0;
}

/** Airdrop page ********************************/

/** White Paper page ********************************/