.font-thin {
  font-weight: 100;
}

.font-light {
  font-family: "Londrina Solid", sans-serif;
  font-weight: 300;
}

.font-regular {
  font-family: "Londrina Solid", sans-serif;
  font-weight: 400;
}

.font-black {
  font-weight: 900;
}

body, button, input, select, textarea, .ant-carousel {
  font-weight: 300;
  font-family: "Londrina Solid", sans-serif !important;
  font-style: normal;
  color: #2D2D2D;
  font-size: 20px;
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
