.font-thin {
  font-weight: 100;
}

.font-light {
  font-family: "Londrina Solid", sans-serif;
  font-weight: 300;
}

.font-regular {
  font-family: "Londrina Solid", sans-serif;
  font-weight: 400;
}

.font-black {
  font-weight: 900;
}

body, button, input, select, textarea, .ant-carousel {
  font-weight: 300;
  font-family: "Londrina Solid", sans-serif !important;
  font-style: normal;
  color: #2D2D2D;
  font-size: 20px;
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.only-show-mobile {
  display: none;
}

.item-left {
  margin-left: 30px;
}

.item-right {
  margin-right: 30px;
}

.item-right:last-child {
  margin: 0;
}

@media screen and (max-width: 768px) {
  .hide-mobile {
    display: none;
  }

  .only-show-mobile {
    display: inline-block;
  }

  .item-left {
    margin-left: 15px;
  }
  
  .item-right {
    margin-right: 15px;
  }
}